<template>
  <div>
    <div v-if="keyFacebook === null">
      <LoginComponent/>
    </div>
    
    <div v-else>
      <HomeComponent/>
    </div>
  </div>
</template>

<script>
import LoginComponent from '../components/LoginComponent';
import HomeComponent from '../components/HomeComponent';
export default {
  mounted () {
    this.checkFacebook();
  },
  components: {
    LoginComponent,
    HomeComponent,
  },
  methods: {
    checkFacebook () {
      this.keyFacebook = JSON.parse(localStorage.getItem('loginFacebook'));
    }
  },
  data () {
    return {
      keyFacebook: null,
    }
  }
}
</script>