<template>
  <div class="flex_display">
    <v-container>
      <v-row justify="center">
        <v-col sm="8" md="8" lg="6">
          <v-card class="mx-auto mb-4" width="100%">
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title class="headline mb-6 mt-6">
                  <div
                    align="center"
                    style="display: flex; flex-direaction: row"
                  >
                    <div>
                      <v-container fluid style="height: 70px">
                        <v-row justify="center">
                          <v-menu bottom min-width="200px" rounded offset-y>
                            <template v-slot:activator="{ on }">
                              <v-btn icon x-large v-on="on">
                                <v-avatar color="brown" size="48">
                                  <img :src="`${images}`" alt="" />
                                </v-avatar>
                              </v-btn>
                            </template>
                            <v-card>
                              <v-list-item-content class="justify-center">
                                <div class="mx-auto text-center">
                                  <v-btn depressed rounded text>
                                    {{ name }}
                                  </v-btn>
                                  <v-divider class="my-3"></v-divider>
                                  <v-btn
                                    depressed
                                    rounded
                                    text
                                    @click="logoutFacebook()"
                                  >
                                    Logout
                                  </v-btn>
                                </div>
                              </v-list-item-content>
                            </v-card>
                          </v-menu>
                        </v-row>
                      </v-container>
                    </div>
                    <div class="mt-4 ml-4">CHATS</div>
                  </div>

                  <div class="mr-4 ml-4 scroll_bar">
                    <div style="display: flex; flex-direction: row" v-for="(item, index) in items" :key="index">
                      <div class="pr-2">
                        <v-avatar color="brown" size="24">
                          <img :src="`${item.images}`" alt="" />
                        </v-avatar>
                      </div>

                      <div>{{item.message}}</div>
                    </div>
                  </div>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <div class="row mr-4 ml-4">
              <v-text-field
                class="mr-2"
                placeholder="Aa"
                solo
                v-model="message"
              ></v-text-field>

              <v-btn
                color="primary"
                style="color: white; height: 48px"
                @click="sendMessage()"
                >Send</v-btn
              >
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import firebase from "../firebase";
import axios from "axios";
export default {
  mounted() {
    this.getFacebook();
    this.getMessage();
  },
  methods: {
    getFacebook() {
      const token = JSON.parse(localStorage.getItem("loginFacebook"));
      axios
        .get(
          `https://graph.facebook.com/me?access_token=${token}&fields=id,name,email,picture.type(large)`
        )
        .then((response) => {
          this.name = response.data.name;
          this.email = response.data.email;
          this.images = response.data.picture.data.url;
        });
    },
    logoutFacebook() {
      firebase
        .auth()
        .signOut()
        .then(
          () => {
            this.name = "";
            this.email = "";
            this.images = "";
            localStorage.removeItem("loginFacebook");
            location.reload();
          },
          (error) => {
            console.log(error);
          }
        );
    },
    getMessage() {
      const db = firebase.database();
      db.ref("chats").on("value", (snap) => {
        console.log(snap.val());
        this.items = snap.val();
      });
    },
    sendMessage() {
      const db = firebase.database();
      db.ref("chats").push({
        email: this.email,
        images: this.images,
        message: this.message,
      });
      this.message = "";
    },
  },
  data() {
    return {
      name: null,
      email: null,
      images: null,
      message: null,
      items: [],
    };
  },
};
</script>

<style scoped>
.flex_display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scroll_bar {
  width: 100%;
  height: 400px;
  overflow-y: scroll; /* Add the ability to scroll */
}

.scroll_bar::-webkit-scrollbar {
  display: none;
}

.scroll_bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
</style>