<template>
  <div class="flex_display">
    <v-container>
      <v-row justify="center">
        <v-col sm="8" md="8" lg="6">
          <v-card class="mx-auto mb-4" width="100%">
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title class="headline mb-6 mt-6">
                  <div align="center">LOGIN FACEBOOK FIREBASE</div>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <div align='center' class='mb-4'>
              <div>
                <img
                  src="../assets/facebook_icon.webp"
                  width="250px"
                  style="object-fit: contain"
                />
              </div>

              <v-btn class='mt-4 mb-4 mb-4' color="primary" large @click="loginFacebook()"
                >Login with facebook</v-btn
              >
            </div>
            
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import firebase from "../firebase";
import axios from "axios";
export default {
  methods: {
    loginFacebook() {
      const provider = new firebase.auth.FacebookAuthProvider();
      provider.addScope("public_profile");
      provider.setCustomParameters({
        display: "popup",
      });
      console.log("yes");
      let vm = this;
      firebase
        .auth()
        .signInWithPopup(provider)
        .then(function (result) {
          let token = result.credential.accessToken;
          let user = result.user;
          localStorage.setItem("loginFacebook", JSON.stringify(token));
          axios
            .get(
              `https://graph.facebook.com/me?access_token=${token}&fields=id,name,email,picture.type(large)`
            )
            .then((response) => {
              vm.name = response.data.name;
              vm.email = response.data.email;
              vm.images = response.data.picture.data.url;
              location.reload();
            });
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
  data() {
    return {
      name: null,
      email: null,
      images: null,
    };
  },
};
</script>

<style scoped>
.flex_display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
</style>