<template>
  <v-app>
    <v-content class='flex_display'>
      <router-view />
    </v-content>
  </v-app>
</template>

<style>
.flex_display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
</style>